- title('Entries')
h1 Entries (#{teams.count})

form.search
  input( type='search', name='q', value=req.query.q, placeholder='Search' )

if (req.user && req.user.contestant) || !voting
  ul.sorts
    li Order by:
    each k in [ 'Overall', 'Solo', 'Popularity', 'Utility / Fun', 'Design', 'Innovation', 'Completeness' ]
      - s = k.split(' ')[0].toLowerCase()
      li( class= sort === s ? 'current' : '' )
        a( href=urlFor({ sort: s }) )= k
  if voting && sort && (req.user && req.user.contestant)
    p
      strong.scary This list only shows teams that you've voted on.
      |  
      a( href="/people/#{req.user}#instructions" ) Vote on more teams
      |  to get a better idea of your rank.

ul.teams
  each team in teams
    li
      - url = team.entry.url
      a( href=url )
        img.screenshot( src=team.screenshot )
      h2: a( href=url )= team.entry.name
      h4 by 
        a( href='/teams/' + team )= team.name
      .description
        if p = markdown(team.entry.description).match(/<p>[\s\S]+?<\/p>/)
          != p
      if sort && score
        team.scores
          .score
            h3= team.scores[score] != null ? team.scores[score].toFixed(2) : '?'
            .dimension= sort
      .clear
  - nextPage = (+req.query.page || 1) + 1
  .more: a( href=urlFor({ page: nextPage }) ) more
