- title('Entries')
h1 Entries (#{teams.count})

form.search
  input( type='search', name='q', value=req.query.q, placeholder='Search' )

if voting && !(req.user && req.user.contestant)
  p Only popularity rankings are shown while voting is taking place.
else
  ul.sorts
    li Order by:
    each k in [ 'Overall', 'Solo', 'Popularity', 'Utility / Fun', 'Design', 'Innovation', 'Completeness' ]
      - s = k.split(' ')[0].toLowerCase()
      li( class= sort === s ? 'current' : '' )
        a( href=urlFor({ sort: s }) )= k
  if voting && sort !== 'popularity'
    p
      strong.scary This list only shows teams that you've voted on.
      |  
      a( href="/people/#{req.user}#instructions" ) Vote on more teams
      |  to get a better idea of your rank.

ul.teams
  each team in teams
    li
      - url = team.entry.url
      a( href=url )
        img.screenshot( src=team.screenshot )
      h2: a( href=url )= team.entry.name
      h4 by 
        a( href='/teams/' + team )= team.name
      .description
        if p = markdown(team.entry.description).match('<p>[^<]+?</p>')
          != p
      team.scores
        .score
          if !voting
            a( href='/scores#' + team )
              h3= team.scores[sort] != null ? team.scores[sort].toFixed(2) : '?'
              .dimension= sort
          else
            h3= team.scores[sort] != null ? team.scores[sort].toFixed(2) : '?'
            .dimension= sort
      .clear
  - nextPage = (+req.query.page || 1) + 1
  .more: a( href=urlFor({ page: nextPage }) ) more
