errors = team.errors
include ../errors

!= _csrf

.row
  .col-lg-8.col-md-8.col-sm-8.col-xs-12
    .name
      h3: label( for='name' ) Team Name
      input.form-control( type='text', name='name', id='name', placeholder='Witty Team Name',
        value=team.name )

      if admin
        h3: label( for='slug' ) Slug
        input.form-control( type='text', name='slug', id='slug', value=team.slug )

    - if (!team.isNew)
      .description
        h3: label( for='description' ) Description
        textarea.form-control( name='description', id='description', placeholder="If you're looking for more members, advertise here." )= team.description
        .note!= markdown_ok

    .members
      h3 Member Emails (including yours)
      .note We don&rsquo;t spam.

      if team.regCode
        input( name='regCode', type='hidden', value=team.regCode )

      input( name='peopleIds[]', type='hidden' )
      ol#members
        - if (typeof(people) === 'undefined') people = []
        - each person in people
          li
            img.avatar( src=avatar_url(person) )
            a( href='/people/' + person )= person.github.login
            input.form-control( name='peopleIds[]', type='hidden', value=person.id )
            a.btn.btn-sm.btn-default.remove-btn( href='#' ) &#x2a2f;
        - for (var i = 0; i < 4 - people.length; i++)
          li
            input.form-control.email( type='email', name='emails[]', value=team.emails[i],
              placeholder='member' + (people.length+i+1) + '@example.com' )

