#steps-info.jumbotron
  h1 The competition has started!

  h2 Steps to complete:
  ul.steps
    li( class=team.lastDeploy ? 'done' : 'pending' )
      .number 1
      h3 Deploy

      .step#deploy
        .status
          if lastDeploy = team.lastDeploy
            span.label.label-success
              | Deployed
            - lastDeployedAt = new Date(lastDeploy.createdAt)
            strong
              time( datetime=lastDeployedAt.toISOString(), title=lastDeployedAt.toISOString() )
                &nbsp;
                = relativeDate(lastDeployedAt)
              if team.entry.url
                != " to <a href='" + team.entry.url + "'>" + team.entry.url.replace(/^https?:\/\//, '').replace(/\/.*/, '') + "</a>"

            h4
              pre
                a( href='https://github.com/nko4/#{team.slug}' ) https://github.com/nko4/#{team.slug}

          else
            span.label.label-danger
              | Not Yet Deployed

            .instructions
              span.label.label-default Quick start instructions
              pre.
                # getting the code
                git clone git@github.com:nko4/#{team.slug}.git && cd ./#{team.slug}/
                chmod 600 ./id_deploy*
                &nbsp;
                # developing
                npm install
                npm start
                &nbsp;
                # deploying (to http://#{team.slug}.2013.nodeknockout.com/)
                ./deploy nko
                &nbsp;
                # ssh access
                ssh deploy@#.2013.nodeknockout.com
                ssh root@#{team.slug}.2013.nodeknockout.com
                # or, if you get prompted for a password
                ssh -i ./id_deploy deploy@#{team.slug}.2013.nodeknockout.com
                ssh -i ./id_deploy root@#{team.slug}.2013.nodeknockout.com

        p
          a(href="http://blog.nodeknockout.com/post/66039926165/node-knockout-deployment-setup")
            | Instructions on how to deploy


        //- h4 Nodejitsu &mdash;
        //-   a( href='http://blog.nodeknockout.com/post/35279199042/introduction-to-jitsu-deployment' ) More details
        //-   | ,
        //-   a( href='http://handbook.jit.su' ) Handbook
        //- pre: code.
        //-   $ npm install -g jitsu
        //-   $ jitsu login --username <b>nko4-#{team.slug}</b> --password <b>#{team.code}</b>
        //-   $ jitsu deploy
    li( class=team.entry.name ? 'done' : 'pending' )
      .number 2
      .action-panel
        a.btn.btn-sm.btn-primary( href='/teams/' + team + '/edit' )
          if !team.entry.name
            | Add
          else
            | Edit
          |  Entry Info &raquo;

      h3 Entry info

      .step#entry
        .status
          if !team.entry.name
            span.label.label-danger
              | Not yet complete
            .details
              p Describe to judges what your entry is about.&nbsp;
          else
            span.label.label-success
              | Complete

            .details
              p Change this information at any time.

    li( class=team.entry.votable && team.entry.videoURL ? 'done' : 'pending' )
      .number 3
      form( method='POST', action='/teams/' + team )

        .action-panel
          if !team.entry.votable
            input( type='hidden', name='entry[votable]', value=1 )
            .buttons: input.btn.btn-sm.btn-primary( type='submit', value='Submit for Voting' )
          else if !team.entry.videoURL
            .buttons: a.btn.btn-sm.btn-primary( href='/teams/mine/edit#pitch' ) Add a Video &raquo;
          else
            input( type='hidden', name='entry[votable]', value=0 )
            .buttons: input.btn.btn-sm.btn-primary( type='submit', value='Remove from Voting', data-confirm="This will delete everything you've entered in Entry Info. Are you sure?" )

        h3 Submit for voting

        .step#votable
          != _csrf
          input( type='hidden', name='_method', value='PUT' )
          .status
            if !team.entry.votable
              span.label.label-danger
                | Not yet submitted
              .details
                if team.entry.url
                  p.note
                    | Your app is not yet officially submitted for voting. When you
                    | submit it for voting, judges will review it at:&nbsp;
                    a( href=team.entry.url )= team.entry.url
                    | .
                p.note
                  | You can submit your app for voting any time between now and the end
                  | of judging. You can also change your mind and remove it from voting
                  | at any time.
                p.note
                  strong You may submit your app for voting without a pitch video,
                  |  but it will not be visible to expert judges until you add a video.

            else if !team.entry.videoURL
              span.label.label-danger
                | Not ready for Expert Review

              p.note
                | Your app is submitted for public and contestant voting. But, it is
                b  not ready for expert review, as it doesn't have a pitch video.

              p.note
                | You can add a pitch video any time between now and the end of
                | judging. We recommend doing it as soon as you can after the
                | 48 hours ends.

            else
              span.label.label-success
                | Submitted for Voting
              .details
                p Judges will review your app at:&nbsp;
                  a( href=team.entry.url)= team.entry.url
                  | .

                input( type='hidden', name='entry[votable]', value=0 )

