mixin prize(name, img, url)
  li: a(href="#{url}", title="#{name}", data-toggle="tooltip")
    img(src="/images/sponsors/prizes/#{img}.jpg")

mixin prize-logo(name, img, url)
  li: a(href="#{url}", title="Prize from #{name} (see below)", target="_blank", data-toggle="tooltip")
    img(src="/images/sponsors/prizes/#{img}.jpg")

mixin modulus-beer
  .with-popover
    |  case of beer
    .popover-content(style="display:none")
      |  a case of Cincinnati microbews

mixin twilio-book
  strong: a(href="http://twilio.com", target="_blank") Twilio
  |  -&nbsp;
  .with-popover
    a(href="http://www.manning.com/cantelon/", target="_blank")
      | NodeJS in Action</a>
    .popover-content(style="display:none")
      img(src="/images/sponsors/prizes/nodejs-in-action.jpg", height="150")
  |  eBook

.prizes-widget
  .tabbable.tabs-left
    ul.nav.nav-tabs
      li.active
        a(href="#prize-team", data-toggle="tab")
          h2 Team Winner
          p Team with the best overall score
      li
        a(href="#prize-solo", data-toggle="tab")
          h2 Solo Winner
          p One-person team with the best overall score
      li
        a(href="#prize-innovation", data-toggle="tab")
          h2 Innovation
          p Team with the highest innovation score
      li
        a(href="#prize-design", data-toggle="tab")
          h2 Design
          p Team with the highest design score
      li
        a(href="#prize-utility-fun", data-toggle="tab")
          h2 Utility/Fun
          p Team with the highest utility / fun score
      li
        a(href="#prize-completeness", data-toggle="tab")
          h2 Completeness
          p Team with the highest completeness score
      li
        a(href="#prize-popularity", data-toggle="tab")
          h2 Popularity
          p Team with the most votes


    .tab-content
      #prize-team.tab-pane.active      
        a.anchor-link(name="prize-list-team")
        h2
          | Team Winner
          em
            |  / best overall score
        
        ul.images
          mixin prize("NKO Team Winner", "nko-team", "#prize-list-team")
          
          mixin prize-logo("Kadira", "kadira", "https://kadira.io/graphql")
          mixin prize-logo("Pebble", "pebble", "https://www.pebble.com/")
          mixin prize-logo("Transloadit", "transloadit", "https://transloadit.com/")
          mixin prize-logo("npm", "npm", "https://npmjs.com/")
          mixin prize-logo("Joyent", "joyent", "https://www.joyent.com/")
          mixin prize-logo("Modulus", "modulus", "https://modulus.io/")
          mixin prize-logo("RedisGreen", "redisgreen", "http://www.redisgreen.net/")
          mixin prize-logo("Honeybadger.io", "honeybadger", "https://www.honeybadger.io/")
          mixin prize-logo("Github", "github", "https://www.github.com/")
          mixin prize-logo("NodeBB", "nodebb", "https://nodebb.org/")
          mixin prize-logo("Slackline", "slackline", "https://slackline.io/")
          mixin prize-logo("Rollbar", "rollbar", "https://www.rollbar.com/")
          mixin prize-logo("Sentry", "sentry", "https://getsentry.com/welcome/")
          mixin prize-logo("Frontend Masters", "frontendmasters", "https://frontendmasters.com/")
          mixin prize-logo("JScrambler", "jscrambler", "https://www.jscrambler.com/?utm_source=nko2015")
          mixin prize-logo("Convergely", "convergely", "https://www.convergely.com/")
          mixin prize-logo("Learn All The Nodes", "learnallthenodes", "http://www.learnallthenodes.com/")
          mixin prize-logo("O’Reilly Media", "oreilly", "http://www.oreilly.com/")
              
        ul
          li
            strong: a(href="https://kadira.io/graphql", target="_blank") Kadira
            |  - $2,000 gift card of your choice

          li
            .with-popover
              strong: a(href="http://www.pebble.com", target="_blank") Pebble
              |  - <a href="https://www.pebble.com/buy-pebble-steel-smartwatch">Pebble Steel Smartwatch</a> for each team member (up to $600 value)
              .popover-content(style="display:none")
                img(src="http://cl.ly/image/1U1o402U1Q3A/content", width="250")

          li
            .with-popover
              strong: a(href="http://transloadit.com", target="_blank") Transloadit
              |  - <a href="https://www.amazon.com/kindle-paperwhite‎">Kindle Paperwhite</a> for each team member (up to $560 value)
              .popover-content(style="display:none")
                img(src="http://cl.ly/image/0I1B2C020Z0P/content", width="250")
          
          li
            .with-popover
              strong: a(href="http://npmjs.com", target="_blank") npm
              |  - Hoodie for each team member (up to $240 value)
              .popover-content(style="display:none")
                img(src="http://cl.ly/image/1e0t3C1T2j24/content", width="250")  

          li
            strong: a(href="http://joyent.com/", target="_blank") Joyent
            |  - $10,000 in credits

          li
            strong: a(href="http://modulus.io/", target="_blank") Modulus
            |  - $100 in credits, a Modulus hoodie for each team member, Cincinnati Craft Beer

          li
            strong: a(href="http://www.redisgreen.net/", target="_blank") RedisGreen
            |  - 6 months RedisGreen Basic ($950 value)

          li
            strong: a(href="https://www.honeybadger.io/", target="_blank") Honeybadger.io
            |  - 12 months Small plan ($600 value)

          li
            strong: a(href="https://www.github.com/", target="_blank") Github
            |  - 12 months Silver plan ($600 value)

          li
            strong: a(href="https://kadira.io/graphql", target="_blank") Kadira
            |  - 3 months subscription for GraphQL ($400 value)

          li
            strong: a(href="https://transloadit.com/", target="_blank") Transloadit
            |  - 6 months Small Business plan ($300 value)

          li
            strong: a(href="https://nodebb.org/", target="_blank") NodeBB
            |  - 3 months Hamlet plan ($300 value)

          li
            strong: a(href="https://slackline.io/", target="_blank") Slackline
            |  - 6 months Medium package ($300 value)

          li
            strong: a(href="https://www.rollbar.com/", target="_blank") Rollbar
            |  - 3 months Startup plan ($300 value)

          li
            strong: a(href="https://getsentry.com/welcome/", target="_blank") Sentry
            |  - $250 in credits

          li
            strong: a(href="https://frontendmasters.com/", target="_blank") Frontend Masters
            |  - 6 months subscription ($240 value)
          li
            strong: a(href="https://www.jscrambler.com/?utm_source=nko2015", target="_blank") JScrambler
            |  - 3 months Professional package ($231 value)
          li
            strong: a(href="https://www.convergely.com/", target="_blank") Convergely
            |  - 6 months service ($120 value)
          
          li
            strong: a(href="http://www.learnallthenodes.com/", target="_blank") Learn All The Nodes
            |  - 12 months Plus subscription ($108 value)
          
          li
            strong: a(href="http://www.oreilly.com/", target="_blank") O'Reilly Media
            |  - Free ebook

          //- li
          //-   strong: a(href="http://coderwall.com", target="_blank") coderwall
          //-   |  - 2015 Team winner achievement badge

      #prize-solo.tab-pane
        a.anchor-link(name="prize-list-solo")
        h2
          | Solo Winner
          em
            |  / best overall score for team of 1
        
        ul.images
          mixin prize("NKO Solo Winner", "nko-solo", "#prize-list-solo")
          
          mixin prize-logo("Mongolab", "mongolab", "https://mongolab.com/")
          mixin prize-logo("Sentry", "sentry", "https://getsentry.com/welcome/")
          mixin prize-logo("Pebble", "pebble", "https://www.pebble.com/")
          mixin prize-logo("Transloadit", "transloadit", "https://transloadit.com/")
          mixin prize-logo("npm", "npm", "https://npmjs.com/")
          mixin prize-logo("Modulus", "modulus", "https://modulus.io/")
          mixin prize-logo("Joyent", "joyent", "https://www.joyent.com/")
          mixin prize-logo("RedisGreen", "redisgreen", "http://www.redisgreen.net/")
          mixin prize-logo("Github", "github", "https://www.github.com/")
          mixin prize-logo("Kadira", "kadira", "https://kadira.io/graphql")
          mixin prize-logo("NodeBB", "nodebb", "https://nodebb.org/")
          mixin prize-logo("Rollbar", "rollbar", "https://www.rollbar.com/")
          mixin prize-logo("Frontend Masters", "frontendmasters", "https://frontendmasters.com/")
          mixin prize-logo("Slackline", "slackline", "https://slackline.io/")
          mixin prize-logo("JScrambler", "jscrambler", "https://www.jscrambler.com/?utm_source=nko2015")
          mixin prize-logo("Honeybadger.io", "honeybadger", "https://www.honeybadger.io/")
          mixin prize-logo("Convergely", "convergely", "https://www.convergely.com/")
          mixin prize-logo("Learn All The Nodes", "learnallthenodes", "http://www.learnallthenodes.com/")
          mixin prize-logo("O’Reilly Media", "oreilly", "http://www.oreilly.com/")

        ul
          li
            strong: a(href="https://mongolab.com/", target="_blank") Mongolab
            |  - $500 gift card of your choice

          li
            strong: a(href="https://getsentry.com/welcome/", target="_blank") Sentry
            |  - $200 gift card of your choice

          li
            .with-popover
              strong: a(href="http://www.pebble.com", target="_blank") Pebble
              |  - <a href="https://www.pebble.com/buy-pebble-steel-smartwatch">Pebble Steel Smartwatch</a> ($150 value)
              .popover-content(style="display:none")
                img(src="http://cl.ly/image/1U1o402U1Q3A/content", width="250")

          li
            .with-popover
              strong: a(href="http://transloadit.com", target="_blank") Transloadit
              |  - <a href="https://www.amazon.com/kindle-paperwhite‎">Kindle Paperwhite</a> ($140 value)
              .popover-content(style="display:none")
                img(src="http://cl.ly/image/0I1B2C020Z0P/content", width="250")
          
          li
            .with-popover
              strong: a(href="http://npmjs.com", target="_blank") npm
              |  - Hoodie ($60 value)
              .popover-content(style="display:none")
                img(src="http://cl.ly/image/1e0t3C1T2j24/content", width="250")  

          li
            strong: a(href="http://joyent.com/", target="_blank") Joyent
            |  - $1,000 in credits

          li
            strong: a(href="http://modulus.io/", target="_blank") Modulus
            |  - $100 in credits, a Modulus hoodie for each team member, Cincinnati Craft Beer

          li
            strong: a(href="http://www.redisgreen.net/", target="_blank") RedisGreen
            |  - 6 months RedisGreen Basic ($950 value)

          li
            strong: a(href="https://www.github.com/", target="_blank") Github
            |  - 12 months Silver plan ($600 value)

          li
            strong: a(href="https://kadira.io/graphql", target="_blank") Kadira
            |  - 3 months subscription for GraphQL ($400 value)

          li
            strong: a(href="https://transloadit.com/", target="_blank") Transloadit
            |  - 6 months Small Business plan ($300 value)

          li
            strong: a(href="https://nodebb.org/", target="_blank") NodeBB
            |  - 3 months Hamlet plan ($300 value)

          li
            strong: a(href="https://www.rollbar.com/", target="_blank") Rollbar
            |  - 3 months Startup plan ($300 value)

          li
            strong: a(href="https://getsentry.com/welcome/", target="_blank") Sentry
            |  - $250 in credits

          li
            strong: a(href="https://frontendmasters.com/", target="_blank") Frontend Masters
            |  - 6 months subscription ($240 value)
          
          li
            strong: a(href="https://slackline.io/", target="_blank") Slackline
            |  - 6 months Small package ($180 value)

          li
            strong: a(href="https://www.jscrambler.com/?utm_source=nko2015", target="_blank") JScrambler
            |  - 3 months Professional package ($231 value)

          li
            strong: a(href="https://www.honeybadger.io/", target="_blank") Honeybadger.io
            |  - 3 months Small plan ($150 value)

          li
            strong: a(href="https://www.convergely.com/", target="_blank") Convergely
            |  - 6 months service ($120 value)
          
          li
            strong: a(href="http://www.learnallthenodes.com/", target="_blank") Learn All The Nodes
            |  - 12 months Plus subscription ($108 value)
          
          li
            strong: a(href="http://www.oreilly.com/", target="_blank") O'Reilly Media
            |  - Free ebook
          
          //- li
          //-   strong: a(href="http://coderwall.com", target="_blank") coderwall
          //-   |  - 2015 Solo winner achievement badge


      #prize-innovation.tab-pane
        a.anchor-link(name="prize-list-innovation")
        h2
          | Innovation Winner
          em
            |  / best score for category of "Innovation"
        
        ul.images
          mixin prize("NKO Innovation Category Winner", "nko-innovation", "#prize-list-innovation")
          
          mixin prize-logo("Match.com", "match", "http://www.match.com")        
          mixin prize-logo("Sentry", "sentry", "https://getsentry.com/welcome/")
          mixin prize-logo("npm", "npm", "https://npmjs.com/")
          mixin prize-logo("Joyent", "joyent", "https://www.joyent.com/")
          mixin prize-logo("Modulus", "modulus", "https://modulus.io/")
          mixin prize-logo("RedisGreen", "redisgreen", "http://www.redisgreen.net/")
          mixin prize-logo("Kadira", "kadira", "https://kadira.io/graphql")
          mixin prize-logo("Transloadit", "transloadit", "https://transloadit.com/")
          mixin prize-logo("NodeBB", "nodebb", "https://nodebb.org/")
          mixin prize-logo("Github", "github", "https://www.github.com/")          
          mixin prize-logo("Rollbar", "rollbar", "https://www.rollbar.com/")
          mixin prize-logo("Frontend Masters", "frontendmasters", "https://frontendmasters.com/")          
          mixin prize-logo("Slackline", "slackline", "https://slackline.io/")
          mixin prize-logo("JScrambler", "jscrambler", "https://www.jscrambler.com/?utm_source=nko2015")
          mixin prize-logo("Honeybadger.io", "honeybadger", "https://www.honeybadger.io/")
          mixin prize-logo("Convergely", "convergely", "https://www.convergely.com/")
          mixin prize-logo("Learn All The Nodes", "learnallthenodes", "http://www.learnallthenodes.com/")
          mixin prize-logo("O’Reilly Media", "oreilly", "http://www.oreilly.com/")
        
        ul
          li
            strong: a(href="https://match.com/", target="_blank") Match.com
            |  - $500 gift card of your choice

          li
            strong: a(href="https://getsentry.com/welcome/", target="_blank") Sentry
            |  - $100 gift card of your choice
          
          li
            .with-popover
              strong: a(href="http://npmjs.com", target="_blank") npm
              |  - Hoodie for each team member (up to $240 value)
              .popover-content(style="display:none")
                img(src="http://cl.ly/image/1e0t3C1T2j24/content", width="250")  

          li
            strong: a(href="http://joyent.com/", target="_blank") Joyent
            |  - $1,000 in credits

          li
            strong: a(href="http://modulus.io/", target="_blank") Modulus
            |  - $100 in credits, a Modulus hoodie for each team member, Cincinnati Craft Beer

          li
            strong: a(href="http://www.redisgreen.net/", target="_blank") RedisGreen
            |  - 6 months RedisGreen Basic ($950 value)

          li
            strong: a(href="https://kadira.io/graphql", target="_blank") Kadira
            |  - 3 months subscription for GraphQL ($400 value)

          li
            strong: a(href="https://transloadit.com/", target="_blank") Transloadit
            |  - 6 months Small Business plan ($300 value)

          li
            strong: a(href="https://nodebb.org/", target="_blank") NodeBB
            |  - 3 months Hamlet plan ($300 value)

          li
            strong: a(href="https://www.github.com/", target="_blank") Github
            |  - 12 months Bronze plan ($300 value)

          li
            strong: a(href="https://www.rollbar.com/", target="_blank") Rollbar
            |  - 3 months Startup plan ($300 value)

          li
            strong: a(href="https://getsentry.com/welcome/", target="_blank") Sentry
            |  - $250 in credits

          li
            strong: a(href="https://frontendmasters.com/", target="_blank") Frontend Masters
            |  - 6 months subscription ($240 value)
          
          li
            strong: a(href="https://slackline.io/", target="_blank") Slackline
            |  - 6 months Small package ($180 value)
          
          li
            strong: a(href="https://www.jscrambler.com/?utm_source=nko2015", target="_blank") JScrambler
            |  - 3 months Professional package ($231 value)

          li
            strong: a(href="https://www.honeybadger.io/", target="_blank") Honeybadger.io
            |  - 3 months Small plan ($150 value)

          li
            strong: a(href="https://www.convergely.com/", target="_blank") Convergely
            |  - 6 months service ($120 value)
          
          li
            strong: a(href="http://www.learnallthenodes.com/", target="_blank") Learn All The Nodes
            |  - 12 months Plus subscription ($108 value)
          
          li
            strong: a(href="http://www.oreilly.com/", target="_blank") O'Reilly Media
            |  - Free ebook
          
          //- li
          //-   strong: a(href="http://coderwall.com", target="_blank") coderwall
          //-   |  - 2015 Innovation winner achievement badge

      #prize-design.tab-pane          
        a.anchor-link(name="prize-list-design")
        h2
          | Design Winner
          em
            |  / best score for category of "Design"

        ul.images
          mixin prize("NKO Design Category Winner", "nko-design", "#prize-list-design")
          
          mixin prize-logo("NodeSource", "nodesource", "http://www.nodesource.com")        
          mixin prize-logo("Sentry", "sentry", "https://getsentry.com/welcome/")
          mixin prize-logo("npm", "npm", "https://npmjs.com/")
          mixin prize-logo("Joyent", "joyent", "https://www.joyent.com/")
          mixin prize-logo("Modulus", "modulus", "https://modulus.io/")
          mixin prize-logo("RedisGreen", "redisgreen", "http://www.redisgreen.net/")
          mixin prize-logo("Kadira", "kadira", "https://kadira.io/graphql")
          mixin prize-logo("Transloadit", "transloadit", "https://transloadit.com/")
          mixin prize-logo("NodeBB", "nodebb", "https://nodebb.org/")
          mixin prize-logo("Github", "github", "https://www.github.com/")          
          mixin prize-logo("Rollbar", "rollbar", "https://www.rollbar.com/")
          mixin prize-logo("Frontend Masters", "frontendmasters", "https://frontendmasters.com/")          
          mixin prize-logo("Slackline", "slackline", "https://slackline.io/")
          mixin prize-logo("JScrambler", "jscrambler", "https://www.jscrambler.com/?utm_source=nko2015")
          mixin prize-logo("Honeybadger.io", "honeybadger", "https://www.honeybadger.io/")
          mixin prize-logo("Convergely", "convergely", "https://www.convergely.com/")
          mixin prize-logo("Learn All The Nodes", "learnallthenodes", "http://www.learnallthenodes.com/")
          mixin prize-logo("O’Reilly Media", "oreilly", "http://www.oreilly.com/")
          
        ul
          li
            strong: a(href="https://www.nodesource.com/", target="_blank") NodeSource
            |  - $500 gift card of your choice

          li
            strong: a(href="https://getsentry.com/welcome/", target="_blank") Sentry
            |  - $100 gift card of your choice
          
          li
            .with-popover
              strong: a(href="http://npmjs.com", target="_blank") npm
              |  - Hoodie for each team member (up to $240 value)
              .popover-content(style="display:none")
                img(src="http://cl.ly/image/1e0t3C1T2j24/content", width="250")  

          li
            strong: a(href="http://joyent.com/", target="_blank") Joyent
            |  - $1,000 in credits

          li
            strong: a(href="http://modulus.io/", target="_blank") Modulus
            |  - $100 in credits, a Modulus hoodie for each team member, Cincinnati Craft Beer

          li
            strong: a(href="http://www.redisgreen.net/", target="_blank") RedisGreen
            |  - 6 months RedisGreen Basic ($950 value)

          li
            strong: a(href="https://kadira.io/graphql", target="_blank") Kadira
            |  - 3 months subscription for GraphQL ($400 value)

          li
            strong: a(href="https://transloadit.com/", target="_blank") Transloadit
            |  - 6 months Small Business plan ($300 value)

          li
            strong: a(href="https://nodebb.org/", target="_blank") NodeBB
            |  - 3 months Hamlet plan ($300 value)

          li
            strong: a(href="https://www.github.com/", target="_blank") Github
            |  - 12 months Bronze plan ($300 value)

          li
            strong: a(href="https://www.rollbar.com/", target="_blank") Rollbar
            |  - 3 months Startup plan ($300 value)

          li
            strong: a(href="https://getsentry.com/welcome/", target="_blank") Sentry
            |  - $250 in credits

          li
            strong: a(href="https://frontendmasters.com/", target="_blank") Frontend Masters
            |  - 6 months subscription ($240 value)
          
          li
            strong: a(href="https://slackline.io/", target="_blank") Slackline
            |  - 6 months Small package ($180 value)
          li
            strong: a(href="https://www.jscrambler.com/?utm_source=nko2015", target="_blank") JScrambler
            |  - 3 months Professional package ($231 value)

          li
            strong: a(href="https://www.honeybadger.io/", target="_blank") Honeybadger.io
            |  - 3 months Small plan ($150 value)

          li
            strong: a(href="https://www.convergely.com/", target="_blank") Convergely
            |  - 6 months service ($120 value)
          
          li
            strong: a(href="http://www.learnallthenodes.com/", target="_blank") Learn All The Nodes
            |  - 12 months Plus subscription ($108 value)
          
          li
            strong: a(href="http://www.oreilly.com/", target="_blank") O'Reilly Media
            |  - Free ebook

          //- li
          //-   strong: a(href="http://coderwall.com", target="_blank") coderwall
          //-   |  - 2015 Design winner achievement badge


      #prize-utility-fun.tab-pane
        a.anchor-link(name="prize-list-utility-fun")
        h2
          | Utility/Fun Winner
          em
            |  / best score for category of "Utility/Fun"

        ul.images
          mixin prize("NKO Utility/Fun Category Winner", "nko-utility", "#prize-list-utility-fun")
          
          mixin prize-logo("Blitline", "blitline", "http://www.blitline.com")        
          mixin prize-logo("Sentry", "sentry", "https://getsentry.com/welcome/")
          mixin prize-logo("npm", "npm", "https://npmjs.com/")
          mixin prize-logo("Joyent", "joyent", "https://www.joyent.com/")
          mixin prize-logo("Modulus", "modulus", "https://modulus.io/")
          mixin prize-logo("RedisGreen", "redisgreen", "http://www.redisgreen.net/")
          mixin prize-logo("Kadira", "kadira", "https://kadira.io/graphql")
          mixin prize-logo("Transloadit", "transloadit", "https://transloadit.com/")
          mixin prize-logo("NodeBB", "nodebb", "https://nodebb.org/")
          mixin prize-logo("Github", "github", "https://www.github.com/")          
          mixin prize-logo("Rollbar", "rollbar", "https://www.rollbar.com/")
          mixin prize-logo("Frontend Masters", "frontendmasters", "https://frontendmasters.com/")          
          mixin prize-logo("Slackline", "slackline", "https://slackline.io/")
          mixin prize-logo("JScrambler", "jscrambler", "https://www.jscrambler.com/?utm_source=nko2015")
          mixin prize-logo("Honeybadger.io", "honeybadger", "https://www.honeybadger.io/")
          mixin prize-logo("Convergely", "convergely", "https://www.convergely.com/")
          mixin prize-logo("Learn All The Nodes", "learnallthenodes", "http://www.learnallthenodes.com/")
          mixin prize-logo("O’Reilly Media", "oreilly", "http://www.oreilly.com/")

        ul
          li
            strong: a(href="https://www.blitline.com/", target="_blank") Blitline
            |  - $500 gift card of your choice

          li
            strong: a(href="https://getsentry.com/welcome/", target="_blank") Sentry
            |  - $100 gift card of your choice
          
          li
            .with-popover
              strong: a(href="http://npmjs.com", target="_blank") npm
              |  - Hoodie for each team member (up to $240 value)
              .popover-content(style="display:none")
                img(src="http://cl.ly/image/1e0t3C1T2j24/content", width="250")  

          li
            strong: a(href="http://joyent.com/", target="_blank") Joyent
            |  - $1,000 in credits

          li
            strong: a(href="http://modulus.io/", target="_blank") Modulus
            |  - $100 in credits, a Modulus hoodie for each team member, Cincinnati Craft Beer

          li
            strong: a(href="http://www.redisgreen.net/", target="_blank") RedisGreen
            |  - 6 months RedisGreen Basic ($950 value)

          li
            strong: a(href="https://kadira.io/graphql", target="_blank") Kadira
            |  - 3 months subscription for GraphQL ($400 value)

          li
            strong: a(href="https://transloadit.com/", target="_blank") Transloadit
            |  - 6 months Small Business plan ($300 value)

          li
            strong: a(href="https://nodebb.org/", target="_blank") NodeBB
            |  - 3 months Hamlet plan ($300 value)

          li
            strong: a(href="https://www.github.com/", target="_blank") Github
            |  - 12 months Bronze plan ($300 value)

          li
            strong: a(href="https://www.rollbar.com/", target="_blank") Rollbar
            |  - 3 months Startup plan ($300 value)

          li
            strong: a(href="https://getsentry.com/welcome/", target="_blank") Sentry
            |  - $250 in credits

          li
            strong: a(href="https://frontendmasters.com/", target="_blank") Frontend Masters
            |  - 6 months subscription ($240 value)
          
          li
            strong: a(href="https://slackline.io/", target="_blank") Slackline
            |  - 6 months Small package ($180 value)

          li
            strong: a(href="https://www.jscrambler.com/?utm_source=nko2015", target="_blank") JScrambler
            |  - 3 months Professional package ($231 value)

          li
            strong: a(href="https://www.honeybadger.io/", target="_blank") Honeybadger.io
            |  - 3 months Small plan ($150 value)

          li
            strong: a(href="https://www.convergely.com/", target="_blank") Convergely
            |  - 6 months service ($120 value)
          
          li
            strong: a(href="http://www.learnallthenodes.com/", target="_blank") Learn All The Nodes
            |  - 12 months Plus subscription ($108 value)
          
          li
            strong: a(href="http://www.oreilly.com/", target="_blank") O'Reilly Media
            |  - Free ebook

          //- li
          //-   strong: a(href="http://coderwall.com", target="_blank") coderwall
          //-   |  - 2015 Utility/Fun winner achievement badge

      #prize-completeness.tab-pane
        
        a.anchor-link(name="prize-list-completeness")
        h2
          | Completeness Winner
          em
            |  / best score for category of "Complete"
        
        ul.images
          mixin prize("NKO Completeness Category Winner", "nko-completeness", "#prize-list-completeness")
          
          mixin prize-logo("Balsamiq", "balsamiq", "https://balsamiq.com")
          mixin prize-logo("Sentry", "sentry", "https://getsentry.com/welcome/")
          mixin prize-logo("npm", "npm", "https://npmjs.com/")
          mixin prize-logo("Joyent", "joyent", "https://www.joyent.com/")
          mixin prize-logo("Modulus", "modulus", "https://modulus.io/")
          mixin prize-logo("RedisGreen", "redisgreen", "http://www.redisgreen.net/")
          mixin prize-logo("Kadira", "kadira", "https://kadira.io/graphql")
          mixin prize-logo("Transloadit", "transloadit", "https://transloadit.com/")
          mixin prize-logo("NodeBB", "nodebb", "https://nodebb.org/")
          mixin prize-logo("Github", "github", "https://www.github.com/")          
          mixin prize-logo("Rollbar", "rollbar", "https://www.rollbar.com/")
          mixin prize-logo("Frontend Masters", "frontendmasters", "https://frontendmasters.com/")          
          mixin prize-logo("Slackline", "slackline", "https://slackline.io/")
          mixin prize-logo("JScrambler", "jscrambler", "https://www.jscrambler.com/?utm_source=nko2015")
          mixin prize-logo("Honeybadger.io", "honeybadger", "https://www.honeybadger.io/")
          mixin prize-logo("Convergely", "convergely", "https://www.convergely.com/")
          mixin prize-logo("Learn All The Nodes", "learnallthenodes", "http://www.learnallthenodes.com/")
          mixin prize-logo("O’Reilly Media", "oreilly", "http://www.oreilly.com/")

        ul
          li
            strong: a(href="https://www.balsamiq.com/", target="_blank") Balsamiq
            |  - $500 gift card of your choice

          li
            strong: a(href="https://getsentry.com/welcome/", target="_blank") Sentry
            |  - $100 gift card of your choice
          
          li
            .with-popover
              strong: a(href="http://npmjs.com", target="_blank") npm
              |  - Hoodie for each team member (up to $240 value)
              .popover-content(style="display:none")
                img(src="http://cl.ly/image/1e0t3C1T2j24/content", width="250")  

          li
            strong: a(href="http://joyent.com/", target="_blank") Joyent
            |  - $1,000 in credits

          li
            strong: a(href="http://modulus.io/", target="_blank") Modulus
            |  - $100 in credits, a Modulus hoodie for each team member, Cincinnati Craft Beer

          li
            strong: a(href="http://www.redisgreen.net/", target="_blank") RedisGreen
            |  - 6 months RedisGreen Basic ($950 value)

          li
            strong: a(href="https://kadira.io/graphql", target="_blank") Kadira
            |  - 3 months subscription for GraphQL ($400 value)

          li
            strong: a(href="https://transloadit.com/", target="_blank") Transloadit
            |  - 6 months Small Business plan ($300 value)

          li
            strong: a(href="https://nodebb.org/", target="_blank") NodeBB
            |  - 3 months Hamlet plan ($300 value)

          li
            strong: a(href="https://www.github.com/", target="_blank") Github
            |  - 12 months Bronze plan ($300 value)

          li
            strong: a(href="https://www.rollbar.com/", target="_blank") Rollbar
            |  - 3 months Startup plan ($300 value)

          li
            strong: a(href="https://getsentry.com/welcome/", target="_blank") Sentry
            |  - $250 in credits

          li
            strong: a(href="https://frontendmasters.com/", target="_blank") Frontend Masters
            |  - 6 months subscription ($240 value)
          
          li
            strong: a(href="https://slackline.io/", target="_blank") Slackline
            |  - 6 months Small package ($180 value)

          li
            strong: a(href="https://jscrambler.com/?utm_source=nko2015", target="_blank") JScrambler
            |  - 3 months Professional package ($231 value)

          li
            strong: a(href="https://www.honeybadger.io/", target="_blank") Honeybadger.io
            |  - 3 months Small plan ($150 value)

          li
            strong: a(href="https://www.convergely.com/", target="_blank") Convergely
            |  - 6 months service ($120 value)
          
          li
            strong: a(href="http://www.learnallthenodes.com/", target="_blank") Learn All The Nodes
            |  - 12 months Plus subscription ($108 value)
          
          li
            strong: a(href="http://www.oreilly.com/", target="_blank") O'Reilly Media
            |  - Free ebook

          //- li
          //-   strong: a(href="http://coderwall.com", target="_blank") coderwall
          //-   |  - 2015 Completeness winner achievement badge


      #prize-popularity.tab-pane
        a.anchor-link(name="prize-list-popularity")
        h2
          | Popularity Winner
          em
            |  / team with the most votes
        
        ul.images
          mixin prize("NKO Popularity Category Winner", "nko-popularity", "#prize-list-popularity")
          
          mixin prize-logo("Honeybadger.io", "honeybadger", "https://www.honeybadger.io/")
          mixin prize-logo("Blitline", "blitline", "http://www.blitline.com")        
          mixin prize-logo("Sentry", "sentry", "https://getsentry.com/welcome/")
          mixin prize-logo("npm", "npm", "https://npmjs.com/")
          mixin prize-logo("Joyent", "joyent", "https://www.joyent.com/")
          mixin prize-logo("Modulus", "modulus", "https://modulus.io/")
          mixin prize-logo("RedisGreen", "redisgreen", "http://www.redisgreen.net/")
          mixin prize-logo("Github", "github", "https://www.github.com/")          
          mixin prize-logo("Kadira", "kadira", "https://kadira.io/graphql")
          mixin prize-logo("Transloadit", "transloadit", "https://transloadit.com/")
          mixin prize-logo("NodeBB", "nodebb", "https://nodebb.org/")
          mixin prize-logo("Rollbar", "rollbar", "https://www.rollbar.com/")
          mixin prize-logo("Frontend Masters", "frontendmasters", "https://frontendmasters.com/")          
          mixin prize-logo("Slackline", "slackline", "https://slackline.io/")
          mixin prize-logo("JScrambler", "jscrambler", "https://www.jscrambler.com/?utm_source=nko2015")
          mixin prize-logo("Convergely", "convergely", "https://www.convergely.com/")
          mixin prize-logo("Learn All The Nodes", "learnallthenodes", "http://www.learnallthenodes.com/")
          mixin prize-logo("O’Reilly Media", "oreilly", "http://www.oreilly.com/")
          
        ul
          li
            strong: a(href="https://www.honeybadger.io/", target="_blank") Honeybadger.io
            |  - $300 gift card of your choice

          li
            strong: a(href="https://www.blitline.com/", target="_blank") Blitline
            |  - $200 gift card of your choice

          li
            strong: a(href="https://getsentry.com/welcome/", target="_blank") Sentry
            |  - $100 gift card of your choice
          
          li
            .with-popover
              strong: a(href="http://npmjs.com", target="_blank") npm
              |  - Hoodie for each team member (up to $240 value)
              .popover-content(style="display:none")
                img(src="http://cl.ly/image/1e0t3C1T2j24/content", width="250")  

          li
            strong: a(href="http://joyent.com/", target="_blank") Joyent
            |  - $1,000 in credits

          li
            strong: a(href="http://modulus.io/", target="_blank") Modulus
            |  - $100 in credits, a Modulus hoodie for each team member, Cincinnati Craft Beer

          li
            strong: a(href="http://www.redisgreen.net/", target="_blank") RedisGreen
            |  - 6 months RedisGreen Basic ($950 value)

          li
            strong: a(href="https://www.github.com/", target="_blank") Github
            |  - 12 months Silver plan ($600 value)

          li
            strong: a(href="https://kadira.io/graphql", target="_blank") Kadira
            |  - 3 months subscription for GraphQL ($400 value)

          li
            strong: a(href="https://transloadit.com/", target="_blank") Transloadit
            |  - 6 months Small Business plan ($300 value)

          li
            strong: a(href="https://nodebb.org/", target="_blank") NodeBB
            |  - 3 months Hamlet plan ($300 value)

          li
            strong: a(href="https://www.rollbar.com/", target="_blank") Rollbar
            |  - 3 months Startup plan ($300 value)

          li
            strong: a(href="https://getsentry.com/welcome/", target="_blank") Sentry
            |  - $250 in credits

          li
            strong: a(href="https://frontendmasters.com/", target="_blank") Frontend Masters
            |  - 6 months subscription ($240 value)
          
          li
            strong: a(href="https://slackline.io/", target="_blank") Slackline
            |  - 6 months Small package ($180 value)
          li
            strong: a(href="https://www.jscrambler.com/?utm_source=nko2015", target="_blank") JScrambler
            |  - 3 months Professional package ($231 value)

          li
            strong: a(href="https://www.honeybadger.io/", target="_blank") Honeybadger.io
            |  - 3 months Small plan ($150 value)

          li
            strong: a(href="https://www.convergely.com/", target="_blank") Convergely
            |  - 6 months service ($120 value)
          
          li
            strong: a(href="http://www.learnallthenodes.com/", target="_blank") Learn All The Nodes
            |  - 12 months Plus subscription ($108 value)
          
          li
            strong: a(href="http://www.oreilly.com/", target="_blank") O'Reilly Media
            |  - Free ebook

          //- li
          //-   strong: a(href="http://coderwall.com", target="_blank") coderwall
          //-   |  - 2015 Popularity winner achievement badge
