
extends ../layout-2013

block body

  - activeNav = "jobs"
  .contained
    include ../index/_header-mini

  .inner-page.container
    .row
      .col-lg-8.col-sm-8.col-md-8
        .jobs-list
          a.btn.btn-sm.btn-default(href="mailto:all@nodeknockout.com?subject=Job Posting&body=Hi, I'm interested in Posting a Job on NodeKnockout.com") Post a job &raquo;
          h1 Jobs

          p
            | Need a new gig? These great companies are hiring Node.js developers. Hover over the company to learn more.
            //- | Need a new gig? Stay tuned for some awesome companies who are hiring Node.js developers.

          - _(jobSponsors).forEach(function(sponsor) {
            .job-icon(data-job=sponsor.slug)
              img(src="/images/sponsors/#{sponsor.image}")
          - });

            
          hr

          - _(jobSponsors).forEach(function(sponsor) {
            .job.clearfix(data-job=sponsor.slug style="display:none;")
              if sponsor.image
                img(src="/images/sponsors/#{sponsor.image}")
              a(name=sponsor.slug)
              != markdown(sponsor.description, true)
              hr
          - });

      .col-lg-4.col-sm-4.col-md-4
        include ../index/_sidebar
