.recent-deploy.clearfix(data-team-id=team.id)
  .row
    .col.col-lg-3.col-md-3.col-sm-3
      a(href="#{team.entry.url}").screenshot
        img(src="#{team.screenshot}")
    .col.col-lg-9.col-md-9.col-sm-9
      .actions
        a.btn.btn-primary(href="/teams/#{team.slug}") Show Team
        a.btn.btn-primary(href="#{team.entry.url}") Launch Site
      .team-name
        a(href="/teams/#{team.slug}")= team.name
      .team-deployed-at
        if lastDeploy = team.lastDeploy
          | deployed&nbsp;
          - lastDeployedAt = new Date(lastDeploy.createdAt)
          = relativeDate(lastDeployedAt)
      .team-stats.clearfix(data-team-id=team.id)
        li.commits
          span.count.number= team.stats.commits
          |  Commits
        li.pushes
          span.count.number= team.stats.pushes
          |  Pushes
        li.deploys
          span.count.number= team.stats.deploys
          |  Deploys