extends ../layout-2013

block body
  - activeNav = "resources"
  .contained
    include ../index/_header-mini

  .inner-page.container
    .row
      .col-lg-8.col-sm-8.col-md-8
        //- :markdown
        //-   # Resources
        //- 
        //-   coming soon! we'll email you when it's up.
        //- 
        
        //-   Here are some useful tutorials and services that we recommend for the
        //-   competition.
        //- 
        //-   # <a name="tutorials"></a>Tutorials
        //-
        //-   #### Installation &amp; Package Management
        //-   1. [How to install node & npm](http://blog.nodeknockout.com/post/65463770933/how-to-install-node-js-and-npm)
        //-   2. [Managing dependencies with npm](http://blog.nodeknockout.com/post/65538597200/introduction-to-npm)
        //-
        //-   #### Web Frameworks
        //-   1. [Writing a web app with Express](http://blog.nodeknockout.com/post/65630558855/getting-started-with-express)
        //-   2. [Creating a RESTful API with hapi](http://blog.nodeknockout.com/post/34571027029/making-an-api-happy-with-hapi)
        //-   3. [restify and DTrace for performant web services](http://blog.nodeknockout.com/post/34710903021/restify)
        //-   4. [Full stack web development with Geddy](http://blog.nodeknockout.com/post/35340908200/getting-started-with-geddy-socket-io-and)
        //-
        //-   #### Debugging &amp; Error Handling
        //-   1. [Debugging with Node Inspector](http://blog.nodeknockout.com/post/34843655876/debugging-with-node-inspector)
        //-   2. [Error tracking with Ratchet.io](http://blog.nodeknockout.com/post/35214296133/error-tracking-in-node-with-rachet-io)
        //-
        //-   #### Data Persistence
        //-   1. [Storing users and data in Apigee](http://blog.nodeknockout.com/post/35360694905/using-apigee-with-node)
        //-   2. [Introduction to MongoDB](http://blog.nodeknockout.com/post/35214638964/a-basic-introduction-to-mongodb)
        //-   3. [Persisting data with MongoDB & Mongoose](http://blog.nodeknockout.com/post/34302423628/getting-started-with-mongoose)
        //-   4. [Advanced MongoDB: storing files using GridFS](http://blog.nodeknockout.com/post/35215400231/a-primer-for-gridfs-using-the-mongo-db-driver)
        //-   5. [Advanced MongoDB: geospatial indexes](http://blog.nodeknockout.com/post/35215504793/the-wonderful-world-of-geospatial-indexes-in-mongodb)
        //-
        //-   #### Libraries and Utilities
        //-   1. [Using Socket.IO for real-time messaging](http://blog.nodeknockout.com/post/34243127010/knocking-out-socket-io)
        //-   2. [Implementing OAuth login with Passport](http://blog.nodeknockout.com/post/66118192565/getting-started-with-passport)
        //-   3. [Cross-platform graphics with Bonsai](http://blog.nodeknockout.com/post/35145390645/telling-stories-with-bonsai-js)
        //-   4. [Sending email with Nodemailer](http://blog.nodeknockout.com/post/34641712180/sending-email-from-node-js)
        //-
        :markdown
          # <a name="services"></a>Services
          
          We have a number of service sponsors that have offered their services free of charge so you can spend time where it's needed most. We hope this makes your life a little easier this weekend! If you have any questions, email us at <a href=mailto:all@nodeknockout.com>all@nodeknockout.com</a>.<br><br>
          Also make sure to join the Node Knockout IRC channel #nodeknockout. We will try to have support staff around during the entire competition so if you run into issues let us know there as well.<br><br>

        //- this nightmare html block was generated from https://quip.com/DgvPAoHS8CFq
        //- and processed with https://kangax.github.io/html-minifier/
        .service-sponsor-content
          :markdown
            <img src="/images/sponsors/prizes/modulus.jpg" /><b><a href=http://modulus.io>Modulus.io</a></b><br>This year, the main hosting for your NodeKnockout entry is handled by Modulus.io (https://modulus.io/). An account has already been created for you on Modulus, you'll receive a “Password Reset” email soon that you can use to set a password and log into your account.<br><br>You can find full instructions on how to deploy your application [here](http://www.nodeknockout.com/deploying). Hosting also includes a MongoDB database.<br><br>
            <img src="/images/sponsors/prizes/kadira.jpg" /><b><a href=https://kadira.io/graphql>Kadira</a></b><br>Their performance monitoring service for GraphQL is still in the works, however they have a great tutorial on <a href="https://learngraphql.com/">using GraphQL</a>, a technology poised to become the future of APIs. Kadira will award an additional $1000 for the best team using GraphQL. Learn more about Kadira and GraphQL on <a href=http://blog.nodeknockout.com/post/132494754065/kadira-nko-2015>our blog</a>.<br><br>
            <img src="/images/sponsors/prizes/compose.jpg" /><b><a href=http://compose.io>Compose.io</a></b><br>Offers production-ready cloud hosting for many different databases. Deployment includes high-availability (HA), failover, daily backups, and auto-scaling. For the competition, if you need hosting for <b>PostgreSQL</b>, <b>RethinkDB</b>, <b>Elasticsearch</b>, <b>RabbitMQ</b>, or <b>etcd</b>, please <a href="mailto:all@nodeknockout.com?subject=set my team up with a new database">email us</a> (now, before, or during the competition) and we'll set you up with one as soon as we can.<br><br>
            <img src="/images/sponsors/prizes/redisgreen.jpg" /><b><a href=http://redisgreen.net>RedisGreen</a></b><br>RedisGreen is offering free Redis hosting for all teams competing in Node Knockout. To sign up for a free RedisGreen Mini Development server with a monitoring dashboard for use during the competition, visit: <a href=https://dashboard.redisgreen.net/nk_team/sign_up>https://dashboard.redisgreen.net/nk_team/sign_up</a><br><br>
            <img src="/images/sponsors/prizes/sentry.jpg" /><b><a href=http://getsentry.com>Sentry</a></b><br>Bring modern crash reports to your web applications. It supplements traditional server logs with a real-time, aggregated event feed which aims to provide as much context around the error as possible. Sign up for a <a href="https://www.getsentry.com/signup/">free trial</a> to get started right away. Read more about Sentry on <a href=http://blog.nodeknockout.com/post/132556760100/sentry-nko2015>our blog</a>.<br><br>
            <img src="/images/sponsors/prizes/balsamiq.jpg" /><b><a href=http://balsamiq.com>Balsamiq</a></b><br>The maker of Mockups - <a href=http://balsamiq.com/products/mockups>http://balsamiq.com/products/mockups</a> - the rapid wireframing software that combines the simplicity of paper sketching with the power of a digital tool so that teams can focus on what's important. Balsamiq is a small and personable company that competes on usability and customer service. Balsamiq believes work should be fun, and that life is too short for bad software.<br><br>Contestants: <a href="mailto:all@nodeknockout.com?subject=balsamiq code&body=my team name is: _____">email us</a> for a free code to use Balsamiq for 3 months!<br><br>
            <img src="/images/sponsors/prizes/transloadit.jpg" /><b><a href=http://transloadit.com>Transloadit</a></b><br>A cloud service for file uploading &amp; encoding. Transloadit is offering all hackathon contestants a free upgrade to their already free 2gig sandbox plan. Check out how to setup the account and upgrade if needed <a href=http://blog.nodeknockout.com/post/132426437664/transloadit-nko-2015>here</a>.  Read more about Transloadit on <a href=http://blog.nodeknockout.com/post/132426437664/transloadit-nko-2015>our blog</a>.<br><br>
            <img src="/images/sponsors/prizes/rollbar.jpg" /><b><a href=http://rollbar.com>Rollbar</a></b><br>Rollbar is an error monitoring and analytics service that has plugins for a wide variety of languages and frameworks including Node.js, client-side Javascript, Rails, Django, PHP, and others. Thousands of developers use Rollbar to find errors in their apps and fix them faster. Sign up for a <a href="https://rollbar.com/signup/">free</a> trial.  Read more about Rollbar on <a href=http://blog.nodeknockout.com/post/66471935940/getting-started-with-rollbar>our blog</a>.<br><br>
            <img src="/images/sponsors/prizes/convergely.jpg" /><b><a href="https://www.convergely.com/">Convergely</a> by Koombea</b><br>Suite of productivity tools designed to enhance team communication on HipChat and Slack. Users are able to boost their workflow and have a quicker, more dynamic communication. When integrated, provides a wide range of functions including:<br><div data-section-style=5><ul id=feMACARLSQF><li id=feMACA1xmhn value=1>Time-zone responsive message scheduling<br></li><li id=feMACAR68rD>Auto-responder system<br></li><li id=feMACArZ55i>Unique/recurrent reminders scheduling<br></li><li id=feMACAnvnlp>Tasks assignment to team members<br></li><li id=feMACAu7daL>Polls creation.<br></li></ul></div>Whether you use Slack or HipChat, try <a href="https://www.convergely.com/">Convergely</a> and see for yourself how it changes the way you communicate with your team members!<br><br>
            <img src="/images/sponsors/prizes/jscrambler.jpg" /><b><a href=http://jscrambler.com>JScrambler</a></b><br>The most mature, complete and sophisticated JavaScript and HTML5 protection on the market. It is currently the only solution that not only protects desktop web apps, but also secures HTML5, mobile, and web gaming applications.  You've invested a lot on your JavaScript code, why just give it away? Sign up for a free trial of JScrambler <a href=https://jscrambler.com/en/account/signup>here</a>.<br><br>
            <img src="/images/sponsors/services/auth0.jpg" /><b><a href=http://auth0.com>Auth0</a></b><br>A set of unified APIs and tools that instantly enables Single Sign On and user management for all your applications. Read more about Auth0 on <a href=http://blog.nodeknockout.com/post/132555313515/auth0-nko2015>our blog</a>.

      .col-lg-4.col-sm-4.col-md-4
        include ../index/_sidebar
