- title('Sponsors')
extends ../layout-2013

block body

  - activeNav = "sponsors"
  .contained
    include ../index/_header-mini

  .inner-page.container.content-sponsors

    .sponsors-btn
      a.btn.btn-primary(href="/sponsors/options") Want to sponsor NKO 2015?


    h1 Platinum Sponsors

    p.
      These guys are awesome. We wouldn't be able to do this without them, so give
      them some love.

    ul.sponsors.platinum-sponsors
      - _(platinumSponsors).forEach(function(sponsor) {
        li
          a( href=sponsor.url )
            img( src='/images/sponsors/' + sponsor.image, class=sponsor.image.replace(/\.\w+$/, '') )
          .sponsor-description(style=sponsor.descriptionStyle)
            != markdown(sponsor.description)
          .clear
      - });


    h2
      | Service Sponsors
      a.sm(href="/resources#services")
        | see what they're offering...

    ul.sponsor-logos.clearfix
      - _(serviceSponsors).forEach(function(sponsor) {
        li.with-tooltip(title=sponsor.name)
          a( href=sponsor.url)
            img( src='/images/sponsors/' + sponsor.image, class=sponsor.image.replace(/\.\w+$/, '') )
      - });
    hr

    h2
      | Prize Sponsors
      a.sm(href="/prizes")
        | see what they're offering...

    ul.sponsor-logos.clearfix
      - _(prizeSponsors).forEach(function(sponsor) {
        li.with-tooltip(title=sponsor.name)
          a( href=sponsor.url)
            img( src='/images/sponsors/' + sponsor.image, class=sponsor.image.replace(/\.\w+$/, '') )
      - });
    
    hr
    h2
      | NKO Site Design By <a href="http://www.lablablab.co">LabLabLab</a>
    p
      a(href="http://www.lablablab.co")
        img(src="/images/sponsors/lablablab.jpg")
      
