extends ../layout-2013

block body
  #landing
    - activeNav = "home"
    include ../index/_header-mini

    #header-judging
      #header.affixable.affix-top
        .affix-placeholder
        .affix-inner
          .header
            #header-gloves
              .header-inner.row.voting.animating
                .col.col-md-12.col-sm-12.col-xs-12.col-lg-12
                  .projectbg
                    .projectbg-inner
                      - for (var i = 0; i < 8; i++) {
                        .projectbg-banner
                      - }

                  a.logo( href="/" ) Node Knockout
                  if voting
                    if req.user
                      a.btn.btn-primary.votenow(href="/judges/dashboard")
                        em The entries are in.
                        | Start voting now
                    else
                      a.btn.btn-primary.votenow(href="/login?returnTo=/judges/dashboard")
                        em The entries are in.
                        | Start voting now
                  else
                    a.btn.btn-primary.votenow(href="/entries")
                      em Votes have been cast.
                      | Final result soon!

    .body-wrapper.container

      .intro-section.landing-section.voting
        .row
          .col.col-md-5.col-sm-12.col-xs-12.col-lg-5
            p.about
              | Node Knockout is a 48-hour hackathon featuring node.js. It's an online, virtual competition with contestants worldwide.

          .col.col-md-6.col-md-offset-1.col-lg-6.col-lg-offset-1.col-sm-12.col-xs-12
            .nko-dates
              h4
                | IMPORTANT DATES TO REMEMBER
              .date-row
                .date-label
                  | OPEN FOR REGISTRATION
                .date-date
                  | SEPTEMBER 15, 2015
              .date-row
                .date-label
                  | COMPETITION DATES
                .date-date
                  | NOVEMBER 7-8 UTC, 2015
              .date-row
                .date-label
                  | JUDGING PERIOD
                .date-date
                  | NOVEMBER 9-15, 2015
              .date-row
                .date-label
                  | WINNERS ANNOUNCED
                .date-date
                  | NOVEMBER 16, 2015

              .clear


      .sponsors-section.landing-section.row
        hr
        .col.col-md-12.col-sm-12.col-xs-12.col-lg-12
          h3 THANKS TO OUR PLATINUM SPONSORS
          .sponsor-grid

            .row
              a.col.col-md-3.col-sm-3.col-xs-3.col-lg-3(href="http://joyent.com", style="background-image:url(/images/sponsors/logos/joyent.jpg);")
              a.col.col-md-3.col-sm-3.col-xs-3.col-lg-3(href="http://goinstant.com", style="background-image:url(/images/sponsors/logos/goinstant.png);")
              a.col.col-md-3.col-sm-3.col-xs-3.col-lg-3(href="http://thenodefirm.com", style="background-image:url(/images/sponsors/logos/nodefirm.png);")
              a.col.col-md-3.col-sm-3.col-xs-3.col-lg-3(href="http://engineering.groupon.com", style="background-image:url(/images/sponsors/logos/groupon.png);")

          p
            a.btn.btn-super.btn-primary(href="/sponsors") See all our 2015 sponsors


      .prizes-section.landing-section.row
        hr
        .col.col-md-12.col-sm-12.col-xs-12.col-lg-12
          h3 PRIZES
          include ../index/_prizes-widget

      .judges-section.landing-section.row
        hr
        .col.col-md-12.col-sm-12.col-xs-12.col-lg-12
          p.nominate-msg
            | Nominate a judge by filling out <a href="/judges/new">this form</a>, or just tweeting <a href="http://twitter.com/nodeknockout">@nodeknockout</a> their name.
          h3 2015 JUDGES

          each judgeGroup in featuredJudges
            .judges-grid.row
              each judge in judgeGroup
                .person-col.col-md-2.col-sm-2.col-xs-2.col-lg-2
                  .person
                    a(href="/people/#{judge}")
                      .avatar(style="background-image:url('#{judge.imageURL}');")
                        img(src="/images/2013/transparent.png")
                      label= judge.name
                      label.about= judge.title
                    ul.links
                      if judge.twitterScreenName
                        li
                          a(href="http://twitter.com/#{judge.twitterScreenName}")
                            i.icon.icon-twitter
                      if judge.linkedinPath
                        li
                          a(href="http://www.linkedin.com/in/#{judge.linkedinPath}")
                            i.icon.icon-linkedin


    .connect.landing-section
      .container
        .row
          .col.col-md-6.col-sm-6.col-xs-6.col-lg-6
            //- POPULATED WITH TWEETS
            | <a class="twitter-timeline" href="https://twitter.com/nodeknockout" data-widget-id="377277154146283520">Tweets by @nodeknockout</a>
            | <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


          .col.col-md-6.col-sm-6.col-xs-6.col-lg-6
            h3
              | FROM OUR BLOG

            //- POPULATED WITH TUMBLR POSTS
            div#tumblr-posts


    footer
      .container
        .subscribe-section.row
          .col.col-md-12.col-sm-12.col-xs-12.col-lg-12
            a(name="subscribe")
            div#mc_embed_signup
              form.validate.signup-form(action="http://nodeknockout.us5.list-manage2.com/subscribe/post?u=fcdc37b83386a2769efad961d&amp;id=e94fe23fd3", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", target="_blank", novalidate)
                input.email-field.email(type="email", value="", name="EMAIL", id="mce-EMAIL", placeholder="Subscribe with your email to stay up to date on NKO...", required)
                input.btn.btn-super.btn-primary(type="submit", value="Subscribe", name="subscribe", id="mc-embedded-subscribe")

        .footer-bottom.row
          .col.col-md-3.col-sm-3.col-xs-3.col-lg-3
            | © 2015 NodeKnockout

          .col.col-md-6.col-sm-6.col-xs-6.col-lg-6.contact-links
            a(href="mailto:all@nodeknockout.com")
              i.icon.icon-envelope
              | all@nodeknockout.com
            a(href="http://twitter.com/nodeknockout")
              i.icon.icon-twitter
              | @nodeknockout

          //- .col.col-md-3.col-sm-3.col-xs-3.col-lg-3.previous-competition-links
          //-   a(href="http://2010.nodeknockout.com")
          //-     | 2010
          //-   a(href="http://2011.nodeknockout.com")
          //-     | 2011
          //-   a(href="http://2012.nodeknockout.com")
          //-     | 2012
          //-   a(href="http://2013.nodeknockout.com")
          //-     | 2013
