extends ../layout-2013

block body

  - activeNav = "entries"
  .contained
    include ../index/_header-mini

  .inner-page.container.judge-dashboard
    .intro
      h1 Judging NodeKnockout
      .row
        .col-lg-7.col-md-7
          p
            | Please spend 5-10 minutes per entry and tell the team what you think. <a href="/scoring">Scoring criteria</a>.

          if nextTeam
            form.skip-vote.confirm-form( action='/people/' + req.user, method='POST', data-confirm-msg="Are you sure you want to skip voting for '#{nextTeam.name}'" )
              input( type='hidden', name='_method', value='PUT' )
              != _csrf
              input( type='hidden', name='skipTeamId', value=nextTeam.id)
              input.hidden( type='submit', value='Skip Entry' )
              p
                | If you know anyone on this team, you can <a href="#" onclick="$(this).parents('form:first').submit()">skip this entry</a> to keep things impartial.

          p.judge-tally
            | You've judged <strong><a href="/people/me">#{votes.length}</a></strong>
            if votes.length >= 10 || !req.user.judge
              |  entries so far.
            else
              |  out of <strong>10 entries</strong>.
        .col-lg-5.col-md-5
          if (req.user && (req.user.judge || req.user.admin))
            .well
              :markdown
                Need someone to play with? Hop on our judges chat: **<http://www.hipchat.com/gnuRJw3x2>**
              //- p
              //-   a.btn.btn-primary(href="#")
              //-     | or ping the creators..


    hr

    if nextTeam
      .row
        .col.col-lg-6.col-md-6.col-sm-6
          - team = nextTeam
          include ../teams/team-info

        .col.col-lg-6.col-md-6.col-sm-6
          .vote-section
            form.vote(action='/teams/' + nextTeam + '/votes', method='POST')
              != _csrf

              input( type='hidden', name='nextTeam', value="true" )
              input( type='hidden', name='audit[userAgent]', value=req.header('user-agent') )
              input( type='hidden', name='audit[referrer]', value=req.header('referrer') )
              input( type='hidden', name='audit[accept]', value=req.header('accept') )
              - each f in [ 'requestAt', 'hoverAt' ]
                input( type='hidden', name='audit[' + f + ']', class=f )

              .vote-category
                label Utility / Fun
                .stars
                  input( name="utility", id="utility", type='range', min=0, max=5, value=0 )
                p
                  | How useful is the app?<br>
                  | If it's intended on being a game, how entertaining is it?

              .vote-category
                label Design
                .stars
                  input( name="design", id="design", type='range', min=0, max=5, value=0 )
                p
                  | Is the product aesthetically pleasing?<br>
                  | Is it clear and understandable?

              .vote-category
                label Innovation
                .stars
                  input( name="innovation", id="innovation", type='range', min=0, max=5, value=0 )
                p
                  | How novel or inventive is the concept?  Did it make you think "Wow, I haven't seen like something like this in a while!"

              .vote-category
                label Completeness
                .stars
                  input( name="completeness", id="completeness", type='range', min=0, max=5, value=0 )
                p
                  | Is the app usable as it is?  How much did the team accomplish this weekend?

              .vote-comment
                textarea.autosized.form-control.edit(name='comment', placeholder='Be awesome. Give some feedback on why you scored the way you did.')

              .vote-actions
                input.submit-btn.btn.btn-primary.btn-lg(type="submit", value="Submit Vote")

            form.skip-vote.confirm-form( action='/people/' + req.user, method='POST', data-confirm-msg="Are you sure you want to skip voting for '#{nextTeam.name}'" )
              input( type='hidden', name='_method', value='PUT' )
              != _csrf
              input( type='hidden', name='skipTeamId', value=nextTeam.id)
              input.hidden( type='submit', value='Skip Entry' )
              p
                | <a href="#" onclick="$(this).parents('form:first').submit()">Skip Entry</a>

    else

      h1 No other teams to vote on. You got em all!
      p
        a.btn.btn-primary.btn-lg(href="/people/me") View Votes


