extends ../layout-2013

block body
  - activeNav = "judges"
  .contained
    include ../index/_header-mini

  .inner-page.container
    .row
      .col-lg-8.col-sm-8.col-md-8
        .judges-list
          if judges.length > 0
            h1= title((typeof(subset) === 'undefined' ? '': subset + ' ') + 'Judges') + ' (' + judges.length + ')'

            p
              | Node Knockout judges are industry insiders: founders, CEOs, CTOs, VCs, journalists, open source hackers, etc.

              if !voting && !winners
                strong  If you know a good judge candidate, please <a href="/judges/new">nominate her or him</a>.


            .judges-section.row
              hr
              .col.col-md-12.col-sm-12.col-xs-12.col-lg-12
                each judgeGroup in judgesGrouped
                  .judges-grid.row
                    each judge in judgeGroup
                      .person-col.col-md-3.col-sm-3.col-xs-3.col-lg-3
                        .person
                          a(href="/people/#{judge}")
                            .avatar(style="background-image:url('#{judge.imageURL}');")
                              img(src="/images/2013/transparent.png")
                            label= judge.name
                            label.about= judge.title || judge.company
                          ul.links
                            if judge.twitterScreenName
                              li
                                a(href="http://twitter.com/#{judge.twitterScreenName}")
                                  i.icon.icon-twitter
                            if judge.linkedinPath
                              li
                                a(href="http://www.linkedin.com/in/#{judge.linkedinPath}")
                                  i.icon.icon-linkedin

      .col-lg-4.col-sm-4.col-md-4
        include ../index/_sidebar
