.row
  .col-lg-8.col-md-8.col-sm-8.col-xs-12

    :markdown
      Feel free to fill out this information any time before judging begins. Use
      it to help judges get an idea of what you've accomplished. [Markdown][1] ok
      for all fields.

      [1]: http://daringfireball.net/projects/markdown/syntax

    .name.field
      h3: label( for='entryName' ) Entry Name
      input.form-control( type='text', name='entry[name]', id='entryName', value=entry.name, placeholder='Name your creation' )

    - if (admin)
      .url.field
        h3: label( for='entryURL' ) Entry URL
        input.form-control( type='text', name='entry[url]', id='entryURL', value=entry.url )

    #pitch.video
      .field
        h3: label( for='videoURL' ) Pitch Video URL
        p.note
          != '~2 minute <a href="http://blog.nodeknockout.com/post/35353987436/protip-create-a-perfect-pitch-video-this-year">video demo</a> of your entry. '
          b.scary Required for expert judging.
        input.form-control( type='text', name='entry[videoURL]', id='videoURL', value=entry.videoURL, placeholder="http://youtu.be/nZf29IBoXGg" )
        p.note
          | You can add a pitch video any time between now and the end of
          | judging. We recommend doing it as soon as you can after the
          | coding ends.

    .quickintro.field
      h3: label( for='entryQuickIntro' ) Quick Intro
      p.note
        | 1 or 2 lines about your project for the Leaderboard. <strong>(no markdown)</stron>
      textarea.form-control( name='entry[quickIntro]', id='entryQuickIntro' )= entry.quickIntro

    .description.field
      h3: label( for='entryDescription' ) Description
      p.note
        | What does your entry do?
      textarea.form-control( name='entry[description]', id='entryDescription' )= entry.description

    .instructions.field
      h3: label( for='entryInstructions' ) Instructions
      p.note
        | Give judges a summary of how to use your entry.
        b If your entry only works on certain browsers list them here.
      textarea.form-control( name='entry[instructions]', id='entryInstructions' )= entry.instructions

    .colophon.field
      h3: label( for='entryColophon' ) Colophon
      p.note
        | What libraries, icons, web service APIs, and tools did you use?
      textarea.form-control( name='entry[colophon]', id='entryColophon' )= entry.colophon

    hr
    .form-box.votable.field
      input( type='hidden', name='entry[votable]', value=0 )
      input( type='checkbox', name='entry[votable]', id='entryVotable', checked=entry.votable )
      | &nbsp;
      label( for='entryVotable' ) Yes! I want judges to vote on my entry.
      p.note
        | Uncheck this box if your entry isn't ready to be judged when the
        | competition ends.

    .form-box.technical.field
      input( type='hidden', name='entry[technical]', value=0 )
      input( type='checkbox', name='entry[technical]', id='entryTechnical', checked=entry.technical )
      | &nbsp;
      label( for='entryTechnical' )!= "I'd prefer <a href='/judges/technical'>technical judges</a>."
      p.note
        | Please only select this box if your entry cannot be evaluated fairly
        | by non-technical judges.

    .form-box.field
      input( type='hidden', name='entry[alert]', value=0 )
      input( type='checkbox', name='entry[alert]', id='entryAlert', checked=entry.alert )
      | &nbsp;
      label( for='entryAlert' ) Alert me when judges visit my site.
      p.note
        | We will DM you on Twitter so you can join judges evaluating your site.&nbsp;
        strong To receive tweets, ensure
          != ' <a href="/people/me/edit">your profile</a> '
          | has your Twitter handle and that you follow
          != ' <a href="http://twitter.com/node_knockout">@node_knockout</a>.'
