extends ../layout-2013

block body
  - activeNav = "people"
  .contained
    include ../index/_header-mini

  .inner-page.container.profile-page
    - if (canEdit(person))
      .edit.pull-right

        - if (admin)
          - var twitterBase = 'http://twitter.com/intent/tweet?text=' + encodeURIComponent(('@' + person.twitterScreenName).replace('@@', '@') + ' ');
          - if (person.nomination)
            a.btn.btn-primary( href=twitterBase + encodeURIComponent("You've been nominated to judge @nodeknockout! Interested? Takes ~2hrs online, at your convenience, between 11/11 and 11/16."), target='twitter' ) Confirm
          - if (person.judge)
            a.btn.btn-primary( href=twitterBase + encodeURIComponent("Sweet! Made you a judge. You can edit your profile at") + "&url=" + encodeURIComponent('http://nodeknockout.com' + req.url.replace('/people/', '/judges/') + '/edit'), target='twitter') Alert

        a.scary.btn.btn-primary( href='/people/' + person + '/edit' ) Edit

    .avatar-and-role
      img.avatar( src=avatar_url(person, 80) )
      .role= person.role
    .profile-content
      h1.name= title(person.name)
      h2.title= person.title

      include details
    hr

    - if (team)
      p.team
        | Contestant on&nbsp;
        a( href='/teams/' + team )= team.name
        | .

    - if (voting && req.user && (person.id === req.user.id) && (req.user.judge || req.user.contestant))
      .well
        p Please help us review submitted entries and give scores.
        a.btn.btn-primary.btn-lg(href="/judges/dashboard") Review an Entry
    - else

    .bio!= markdown(person.bio)

    - if (votes.length)
      - if (req.user && (req.user.id === req.person.id))
        h3#votes Your Votes (#{votes.length})
        .votes
          - each vote in votes
            include ../votes/form
      - else if (shouldShowVoteList)
        h3#votes Total Votes (#{votes.length})
        if canSeeVotes
          ul.votes
            each vote in votes
              include ../votes/vote
        else
          p Votes are hidden until this person votes for your entry.

